
.rij {
    clear           : left;
    width           : 100%;
    height          : 8.925%;
/*    border          : 1px solid grey; */
}

.veld {
    float           : left;
    width           : 8.925%;
    height          : 100%;
    /* border          : 1px solid grey; */
}

.pinkleur {
	width			: 22px;	
	height			: 22px;
}

#speelbord {
    display         	: block;
    width           	: 880px;
    height          	: 886px;
	padding-top			: 12px;
	padding-left		: 18px;
    background-image    : url("mejn.png");
	background-size		: cover;
}

#speelbord2 {
	display         	: block;
	width				: 870px;
	height				: 870px;
/*	border				: 2px solid blue; */
}

.dropholder {
    float				: left;
}

.dropid {
	
}

.rondwit {
    background-image		: url("Rondje_wit.png");
    background-size			: contain;
}

.rondblauw {
    background-image		: url("Rondje_blauw.png");
    background-size			: contain;
}

.rondgeel {
    background-image		: url("Rondje_geel.png");
    background-size			: contain;
}

.rondgroen {
    background-image		: url("Rondje_groen.png");
    background-size			: contain;
}

.rondrood {
    background-image		: url("Rondje_rood.png");
    background-size			: contain;
}

.sz30 {
	margin-top				: 36px;
	margin-left				: 28px;
	padding-top				: 3px;
	width					: 30px;
	height					: 30px;
	background-repeat		: no-repeat;
}

.sz50 {
	margin-top				: 28px;
	margin-left				: 19px;
	padding-top				: 2px;
	width					: 45px;
	height					: 45px;
	background-repeat		: no-repeat;
}

.rondtekst30 {
	margin-left				: 8px;
	font-size				: 20px;
	font-weight				: bold;
}

.rondtekst50 {
	margin-left				: 10px;
	font-size				: 32px;
	font-weight				: bold;
}
